ion-tabs.ds-top{
    top: 56px !important;
}
.ww-toolbar{
    background-color: #3880ff;
}
.font-b{
    font-weight: bold;
}
.font-b{
    font-weight: bold;
    font-size: 15px;
}
.f14{
    font-size: 14px;
}
.curspan{
    position: absolute;
    top: -17px;
    right: 94px;
    font-size: 13px;
    color: #ffffff;
}
.logo{
    width: 111px;
    float: left;
    padding: 0px;
    top: 0px;
    // position: relative;

}