ion-content ion-toolbar {
  --background: translucent;
}

.md.dropdown{
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
}
.curspan{
  position: absolute;
  top: -16px;
  left: 20px;
  font-size: 13px;
}
.f14{
  font-size: 14px;
}
.ww_l{
  margin-top: 3px;
  height: 44px;
  margin-right: 8px;
}
