
<ion-content [fullscreen]="true"  class="bg">
  <h4 class="ion-padding">
    Coronavirus disease (COVID -19) outbreak situation
  </h4>
  <ion-card *ngFor="let item of worldcountdata">
    <ion-card-header>

      <ion-card-title class="ion-text-center">All Over the World</ion-card-title>
    </ion-card-header>

    <ion-card-content>

      <ion-grid class="ion-text-center">
        <ion-row>
          <ion-col>
            <ion-chip color="primary">
              <ion-label>Confirmed Cases : <b>{{item.cases | number}}</b></ion-label>
            </ion-chip>
          </ion-col>
          
          <ion-col>
            <ion-chip color="medium">
              <ion-label>Today Cases : <b>{{item.todayCases | number}}</b></ion-label>
            </ion-chip>
          </ion-col>
        </ion-row>
        
        <ion-row class="ion-text-center">
          <ion-col>
            <ion-chip color="danger">
              <ion-label>Confirmed Deaths : <b>{{item.deaths | number}}</b></ion-label>
            </ion-chip>
          </ion-col>


        </ion-row>
        <ion-row>
          <ion-col>
            <ion-chip color="secondary">
              <ion-label>Active Cases : <b>{{item.active | number}}</b></ion-label>
            </ion-chip>
          </ion-col>
          <ion-col>
            <ion-chip color="success">
              <ion-label>Recovered : <b>{{item.recovered | number}}</b></ion-label>
            </ion-chip>
          </ion-col>

        </ion-row>
      </ion-grid>
      <p>Last Updated: {{item.updated | date : 'long'}} </p>
      <!-- <p>Source: https://corona.lmao.ninja </p> -->

    </ion-card-content>
  </ion-card>
  <ion-card *ngFor="let item of Indiacountdata">
    <ion-card-header>

      <ion-card-title class="ion-text-center"> Country : India</ion-card-title>
    </ion-card-header>

    <ion-card-content>

      <ion-grid class="ion-text-center">
        <ion-row>
          <ion-col>
            <ion-chip color="primary">
              <ion-label>Confirmed Cases : <b>{{item.totalconfirmed | number}}</b></ion-label>
            </ion-chip>
          </ion-col>
          
          <ion-col>
            <ion-chip color="medium">
              <ion-label>Today Cases : <b>{{item.dailyconfirmed | number}}</b></ion-label>
            </ion-chip>
          </ion-col>
        </ion-row>
        
        <ion-row class="ion-text-center">
          <ion-col>
            <ion-chip color="danger">
              <ion-label>Confirmed Deaths : <b>{{item.totaldeceased | number}}</b></ion-label>
            </ion-chip>
          </ion-col>


        </ion-row>
        <ion-row>
          <ion-col>
            <ion-chip color="secondary">
              <ion-label>Today Recovered : <b>{{item.dailyrecovered | number}}</b></ion-label>
            </ion-chip>
          </ion-col>
          <ion-col>
            <ion-chip color="success">
              <ion-label>Recovered : <b>{{item.totalrecovered | number}}</b></ion-label>
            </ion-chip>
          </ion-col>

        </ion-row>
      </ion-grid>
      <p>Last Updated: {{item.date | date : 'long'}} </p>
      <p>Source: https://covid19india.org </p>


    </ion-card-content>
  </ion-card>
  
</ion-content>